body {
	margin: 0;
	padding: 0;
	background: #f2eecb;
}

.content {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.content__block {
	transform: rotate(-5deg);
	text-align: right;
	font-size: 0;
}

.content__title {
	display: inline-block;
	height: 32px;
}

@media screen and (max-width: 500px) {
	.content__title {
		height: 24px;
	}
}

.content__title__3 {
	margin-top: 16px;
}

.content__title__5 {
	margin-top: 32px;
}
