body {
	margin: 0;
	padding: 0;
	background: #ffd9e4;
	background-image: url('golfbg.png');
	background-repeat: repeat;
	background-size: 150px;
}

.content {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.content__title {
	height: 32px;
	margin-top: 8px;
}

.content__title__3 {
	height: 16px;
}

.content__title__5 {
	height: 20px;
	margin-top: 30px;
}

.content__card {
	width: 150px;
	border-radius: 10px;
	margin-top: 32px;
	transform: perspective(400px) rotate3d(1, -1, 1, 10deg);
}

.content__code-title {
	height: 16px;
	margin-top: 24px;
}

.content__code {
	height: 11px;
	margin-top: 4px;
}

@media screen and (max-width: 500px) {
	.content__title {
		height: 24px;
		margin-top: 8px;
	}
	.content__title__3 {
		height: 12px;
	}
	.content__title__5 {
		height: 16px;
		margin-top: 20px;
	}
}
