body {
	margin: 0;
	padding: 0;
	background: #ffd9e4;
	background-image: url('golfbg.png');
	background-repeat: repeat;
	background-size: 150px;
}

.content {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.content__title {
	height: 32px;
	margin-top: 8px;
}

.content__title__3 {
	height: 16px;
}

.content__title__5 {
	height: 20px;
	margin-top: 30px;
}

.content__card {
	position: relative;
	width: 150px;
	margin-top: 32px;
	perspective: 1000px;
}

.content__card::before {
	display: block;
	content: '';
	padding-top: 166%;
}

.content__card__inner {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transition: all 0.5s;
	transform-style: preserve-3d;
}

.content__card.content__card--flipped .content__card__inner {
	transform: rotateY(180deg);
	width: 200%;
	height: 200%;
	left: -50%;
	top: -50%;
}

.content__card__front,
.content__card__back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	border-radius: 10px;
	box-shadow: 0 0 10px 0px rgb(0 0 0 / 50%);
}

.content__card__back {
	transform: rotateY(180deg);
}

.content__code-title {
	height: 16px;
	margin-top: 24px;
}

.content__code {
	height: 11px;
	margin-top: 4px;
}

@media screen and (max-width: 500px) {
	.content__title {
		height: 24px;
		margin-top: 8px;
	}
	.content__title__3 {
		height: 12px;
	}
	.content__title__5 {
		height: 16px;
		margin-top: 20px;
	}
}
